RestService/Schemas/EmpResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EmpResponse" xmlns:tns="http://www.example.org/EmpResponse" elementFormDefault="qualified">

    <element name="EmpResponse" type="tns:EmpResponseType"></element>

    <complexType name="EmpResponseType">
    	<sequence>
    		<element name="fullname" type="string"></element>
    	</sequence>
    </complexType>
</schema>